[user]
	email = kevinywlui@gmail.com
	name = kevin lui
	signingkey = 748002E9
[init]
	templatedir = ~/.git_template
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	excludesfile = /home/klui/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = gpg
